.servise-prop{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
  padding-top: 10px;
}
.srevices img{
  width: 300px;
  align-self: center;
}
.srevices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
