* {
  margin: 0;
  padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
}
.text-center{
  text-align: center;
}
.upper{
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
}
.our-team {
    padding: 4% 0;
    /*background: url('img/1.jpg');
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   position: relative;
   height: 100vh;*/
}
/*.our-team .overlay{
  position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8)
}*/

.our-team h2 {
    color: #888;
    font-size: 35px;
    margin-bottom: 4%;
    font-family: 'Permanent Marker', cursive;
}

.our-team .the-team {
    overflow: hidden
}

.our-team .the-team .person {
    float: left;
    width: 24%;
    margin-left: 1%;
    color: #888
}

.our-team .the-team .person:hover img {
    filter: none;
    -webkit-filter: grayscale(0)
}

.our-team .the-team .person:hover {
    color: #555
}

.our-team .the-team .person:hover .fa-linkedin {
    background-color: #8d6cab
}

.our-team .the-team .person:hover .fa-twitter {
    background-color: #55acee
}

.our-team .the-team .person:hover .fa-github {
    background-color: #333
}


.our-team .the-team .person img {
    width: 265px;
    height: 290px;
    border-radius: 50%;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1)
}

.our-team .the-team .social-icons i {
    background-color: #9da1a5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
}

/*start services style*/

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 1;
}

.box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.box img {
  width: 200px;
  flex: 1;
}

.wrapper .services {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.box .text {
  flex: 1;
  padding-top: 20px;
}

.text h2, h3 {
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 777px) {
  .flex-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 430px) {
  .box img {
    width: 100px;
  }
}
/*end services style*/
* {
  padding: 0 ; margin: 0 ;
}

body {
  font-family: Arial ;
}

form {
  width: 700px ; height: auto ;
  margin: 0 auto;

  margin-top: 100px ;
  padding-top: 60px ;
  padding-bottom: 100px ;
}

#letsWork {
  margin-left: 7em ;
}

#formInputs {
  margin-left: 130px ;

}
#formInputs input {
 width: 200px ; height: 20px ;
}

#tellMe {
  margin-left: 130px ;
}
#tellMe  textarea{
  width: 80% ;
}
label {
  margin-bottom: 10px ; margin-top: 10px ;
}
input, label  , textarea{
    display:block;
    border-radius: 10px;
    padding: 10px 10px 10px 10px ;
}

form button {
  margin-top: 3em  ;  margin-right: 9em ; height: 40px ; width: 100px ;
  background-color: white ; float: right;border-radius: 10px;
}

footer {
  color: white ;
  width: 100% ;
  height: 4em ;
  background: url('img/background.jpg') ;
  background-size: cover;
  margin: 0 auto;

}

footer .left {
  margin-left: 3em  ; float: left;

}
ul#menu  {
  display: block;
}
ul#menu li {
    display:inline; float: left;
    margin: 1.5em 0.5em 1.5em 0.5em ;
}
footer p {
  float: left;
  margin-top: 45px ; margin-left: -235px ;  font-size: small ;
}

@media screen and (max-width: 959px) {
 form , footer , textarea{
   width: 100% ;
 }

}

@media screen and (max-width: 640px) {
  form {
    width: 100% ;
  }
  footer {
    width: 100% ;
  }

}
.header-body{
  background-color: #000000;
  background-image: url(./img/website-startups.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-top{
  width: 100%;
  height: 5vh;
  padding-top: 2.5vh;
  background-color: rgba(96, 125, 139, 0.2);
  text-align: center;
}


.head-top-labels li{
  font-size: 16px;
  margin-left: 5vh;
  margin-right: 5vh;
  display: inline;
}

.header-contents{
  background-image: url(./img/logo.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 10vh;
  text-align: center;
}

#logo-pic{
  width: 175px;
  height: 175px;
}

h1{
  font-size: 48px;
  font-family: system-ui;
  color: #C44513;
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
p{
  font-size: 24px;
}

#home-label:checked ~ body{
  transform: translateY(0%);
}


#about-label:checked ~ body{
  transform: translateY(-100%);
}


#team-label:checked ~ body{
  transform: translateY(-200%);
}


#contact-label:checked ~ body{
  transform: translateY(-300%);
}

@media only screen and (max-width: 430px) {

  .head-top-labels label{
    font-size: 10px;
    justify-content: space-around;
    flex-direction: row;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
  }

  .header-contents{
    background-image: url(./img/logo.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 10vh;
    text-align: center;
  }

  #logo-pic{
    width: 125px;
    height: 125px;
  }

  h1{
    font-size: 36px;
  }
  p{
    font-size: 18px;
  }

}
